# Application
NEXT_PUBLIC_APP_NAME=Biz Cash Flow
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Base de donnees PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/biz_cash_flow

# Environnement
NODE_ENV=development
